In [1]:
import mysql.connector
import pandas as pd

In [2]:
def connectDB(db_use):
    my_db = mysql.connector.connect(
        host='localhost',
        user='root',
        passwd='mwitness!1019',
        database= db_use
    )
    my_cursor = my_db.cursor()
    return my_db, my_cursor

mydb, myCursor = connectDB("fifa")

In [4]:
# test 
myCursor.execute('SELECT * FROM team;')
result = myCursor.fetchall()
for row in result[:5]:
    print(row) # workwell

(0, 'Manchester City', 87, 86, 83, 85, 11)
(1, 'Real Madrid', 85, 85, 83, 85, 30)
(2, 'Bayern Munchen', 90, 84, 83, 84, 14)
(3, 'FC Barcelona', 84, 84, 83, 84, 30)
(4, 'Paris Saint-Germain', 86, 79, 83, 83, 12)

In [5]:
to_update = pd.read_table('to_update.csv', delimiter=',', encoding='utf-8')
to_update = to_update.sort_values(['id'])
to_update.loc[25, 'TO BE DONE'] = 'Union'
to_update.head()

     id       name                   league        TO BE DONE
44   71  Be??컆ta??         Turkey Super Lig          Beşiktaş
66   94        NaN               94 FC Koln           FC Koln
65  117        NaN     177 AS Saint-Etienne  AS Saint-Etienne
30  134    Alav筌?툒  Spain Primera Division             Alavés
62  148        NaN         148 FC Kobenhavn      FC Kobenhavn

In [ ]:
for name, id in zip(to_update['TO BE DONE'], to_update['id']):
    myCursor.execute(f"UPDATE team SET team = '{name}' WHERE teamId = {id}")
    mydb.commit()